/* Main Container */
.joubel-help-text-dialog-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--h5p-theme-text-primary);
  z-index: 2;
}

/* Background for help dialog */
.joubel-help-text-dialog-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
}

/* ------------------------------------ Main content container ------------------------ */
.joubel-help-text-dialog-container {
  display: block;
  position: absolute;
  top: 3.5%;
  left: 20%;
  width: 60%;
  background: var(--h5p-theme-ui-base);
  border-radius: var(--h5p-theme-border-radius-large);
  opacity: 1;
  max-height: 93%;
  overflow: auto;
}

/* Header */
.joubel-help-text-header {
  font-size: var(--h5p-theme-font-size-l);
  font-weight: bold;
  border-bottom: 1px solid var(--h5p-theme-stroke-1);
  padding: 0.75em 3em 0.75em 1.5em;
}

/* Body */
.joubel-help-text-body {
  padding: 0.5em 1.5em;
  margin: 1em 0 2em;
}

/* Close help dialog container */
.joubel-help-text-remove {
  position: absolute;
  right: var(--h5p-theme-spacing-xs);
  top: var(--h5p-theme-spacing-s);
  cursor: pointer;
}

.joubel-help-text-remove:hover {
  color: #333;
}

.joubel-help-text-remove:before {
  font-family: 'H5PFontAwesome4';
  content: '\f00d';
  font-size: 1.3em;
  right: 0em;
  top: 0em;
}

.h5p-theme .joubel-help-text-remove:before {
  font-family: 'h5p-theme';
  content: '\e910';
  display: inline-block;
  transform: translateY(-0.48em);
  padding: var(--h5p-theme-spacing-s);
  border-radius: 50%;
}

.h5p-theme .joubel-help-text-remove:hover:before {
  color: var(--h5p-theme-text-primary);
  background-color: var(--h5p-theme-alternative-base);
}

.h5p-theme .joubel-help-text-header{
  padding: var(--h5p-theme-spacing-m) var(--h5p-theme-spacing-l);
  border-bottom: none;
}

.h5p-theme .joubel-help-text-body{
  padding: 0 var(--h5p-theme-spacing-l) var(--h5p-theme-spacing-l) var(--h5p-theme-spacing-l);
  margin: 0;
}

