.joubel-simple-rounded-button {
  cursor: pointer;
  display: inline-block;
  margin: 0.25em 0em;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  background-color: #1A73D9;
  color: #FFFFFF;
}

.joubel-simple-rounded-button:hover {
  background-color: #114889;
}

.joubel-simple-rounded-button:active {
  position: relative;
  top: 3px;

  -webkit-box-shadow: inset 0px 3px 1px rgba(9, 45, 103, 1);
  -moz-box-shadow: inset 0px 3px 1px rgba(9, 45, 103, 1);
  box-shadow: inset 0px 3px 1px rgba(9, 45, 103, 1);
}
