.h5p-joubelui-score-bar {
  display: flex;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 19.917em;
  max-width: 100%;
  background: #fff;
  border-radius: 1.5em;
  padding: 0.625em;
  border: 1px solid #dcdcdc;
}
.h5p-joubelui-score-bar-visuals {
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  position: relative;
  overflow: visible;
}
.h5p-joubelui-score-bar-progress-wrapper {
  position: relative;
  margin-right: 1.7em;
  height: 0.917em;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  background: #ddd;
}
.h5p-joubelui-score-bar-progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  background: #48b57e; /* For browsers not supporting linear-gradient */
  background: linear-gradient(to right, #52ca8d, #48b57e);
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
}
/* The star */
.h5p-joubelui-score-bar-star {
  height: 1.8em;
  width: 2.1em;
  position: absolute;
  right: 0;
  top: -0.4em;
  overflow: visible;
}
.full-score .h5p-joubelui-score-bar-star {
  animation: pound 0.8s 1;
}
@keyframes pound {
  from {
    transform: scale(0);
  }
  20% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
/* Changing the SVG fill and border on full score */
.h5p-joubelui-score-bar-full-score .star-path-border {
  stroke: #ab741a;
}
.h5p-joubelui-score-bar-full-score .star-path-fill {
  fill: #ffc80b;
}
/* The numeric part on the end (score / maxScore) */
.h5p-joubelui-score-numeric {
  margin: -0.625em 0.4em -0.625em 0.625em;
  line-height: 2.05em;
}

.h5p-joubelui-score-number {
  font-size: 1.333em;
  font-weight: bold;
  color: #333;
}
.h5p-joubelui-score-number-separator {
  font-size: 1.1em;
  color: #999;
  padding: 0 .1em;
  position: relative;
  top: -0.1em;
}
