[class^="joubel-icon-"], [class*=" joubel-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'h5pFontIcons' !important;
  speak: none;
  font-size: 1.5em; 
  line-height: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  word-wrap: normal;
  cursor: pointer;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Comment icon */
.joubel-icon-comment-normal .h5p-icon-layer-1:before {
  content: "\e90a";
  color: rgb(221, 221, 221);
}
.joubel-icon-comment-normal .h5p-icon-layer-2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(206, 114, 193);
}
.joubel-icon-comment-normal .h5p-icon-layer-3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.joubel-icon-comment-normal:hover .h5p-icon-layer-2:before {
  color: rgb(188, 92, 163);
}
.joubel-icon-comment-normal:active .h5p-icon-layer-2:before {
  color: rgb(206, 114, 193);
  position: relative;
  top: 0.05em;
  left: 0.05em;
}
.joubel-icon-comment-normal:active .h5p-icon-layer-3:before {
  position: relative;
  top: 0.05em;
  left: 0.05em;
}

/* Tip icon */
.joubel-icon-tip-normal .h5p-icon-layer-1:before {
  content: "\e90a";
  color: rgb(221, 221, 221);
}
.joubel-icon-tip-normal .h5p-icon-layer-2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(53, 128, 195);
}
.joubel-icon-tip-normal .h5p-icon-layer-3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.joubel-icon-tip-normal:hover .h5p-icon-layer-2:before {
  color: rgb(72, 155, 213);
}
.joubel-icon-tip-normal:active .h5p-icon-layer-2:before {
  color: rgb(72, 155, 213);
  position: relative;
  top: 0.05em;
  left: 0.05em;
}
.joubel-icon-tip-normal:active .h5p-icon-layer-3:before {
  position: relative;
  top: 0.05em;
  left: 0.05em;
}

/* Custom override CSS */
.joubel-icon-tip-normal.help-icon:before {
  font-family: 'H5PFontAwesome4';
  content: "\f059";
}

/* Hide icon layers if using font awesome */
.joubel-icon-tip-normal.help-icon > span {
  display: none;
}
