.joubel-progress-circle-wrapper{
    display: inline-block;
    padding: 0em 1em;
}
.joubel-progress-circle-percentage{
    position: relative;
}

.joubel-progress-circle-percentage:after{
    content:'%';
}

.joubel-progress-circle-circle{
    transform: rotate(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    top: 0.25em;
    left: 0.25em;
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    background-color: #fff;
}

.joubel-progress-circle-active-border{
    position: relative;
    text-align: center;
    width: 3em;
    height: 3em;
    border-radius: 100%;

    background-color: #096bcb;
}