@CHARSET "UTF-8";

@font-face {
  font-family: 'Joubel';
  src:url('../fonts/joubel.eot?-evicw4');
  src:url('../fonts/joubel.eot?#iefix-evicw4') format('embedded-opentype'),
    url('../fonts/joubel.woff?-evicw4') format('woff'),
    url('../fonts/joubel.ttf?-evicw4') format('truetype'),
    url('../fonts/joubel.svg?-evicw4#tips') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h5p-joubelui-button {
  font-size: 1em;
  line-height: 1.2em;
  padding: 0.2em 1em;
  border: 0.2em solid #fff;
  border-radius: 0.4em;
  margin-left: 0.8em;
  margin-bottom: 0.1em;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 0.5em #999;

  background: rgb(100,152,254); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(100,152,254,1) 0%, rgba(4,104,206,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,152,254,1)), color-stop(100%,rgba(4,104,206,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6498fe', endColorstr='#0468ce',GradientType=0 );
}
.h5p-joubelui-button:hover {
  background: rgb(4,104,206); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(4,104,206,1) 0%, rgba(100,152,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,104,206,1)), color-stop(100%,rgba(100,152,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0468ce', endColorstr='#6498fe',GradientType=0 ); /* IE6-9 */
  color: #fff;
  text-decoration: none;
}